In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.cluster import DBSCAN
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv(r"C:\Users\bojja\Downloads\train\train_pd.csv")

In [3]:
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [4]:
df.columns

Index(['id', 'vendor_id', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count', 'pickup_longitude', 'pickup_latitude',
       'dropoff_longitude', 'dropoff_latitude', 'store_and_fwd_flag',
       'trip_duration'],
      dtype='object')

In [5]:
df.isnull().sum()

id                    0
vendor_id             0
pickup_datetime       0
dropoff_datetime      0
passenger_count       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude     0
dropoff_latitude      0
store_and_fwd_flag    0
trip_duration         0
dtype: int64

In [6]:
x=df[["pickup_latitude","pickup_longitude"]]

In [7]:
s = StandardScaler()
x_scaled = s.fit_transform(x)

In [11]:
sample_size = 50000 

if len(x_scaled) > sample_size:
    idx = np.random.choice(len(x_scaled), sample_size, replace=False)
    x_sample = x_scaled[idx]
    x_original_sample = x.iloc[idx]   # if x is a dataframe
else:
    x_sample = x_scaled
    x_original_sample = x

eps_values = [0.2, 0.3, 0.5]

for eps in eps_values:
    print(f"\nEvaluating DBSCAN using eps={eps}")

    dbscan = DBSCAN(eps=eps, min_samples=5)
    labels = dbscan.fit_predict(x_sample)

    unique_labels = set(labels)
    n_clusters = len(unique_labels) - (1 if -1 in labels else 0)
    n_noise = list(labels).count(-1)
    noise_ratio = n_noise / len(labels)

    print(f"Number of clusters: {n_clusters}")
    print(f"Noise ratio: ", round(noise_ratio, 2))

    if n_clusters > 1:
        x_non_noise = x_sample[labels != -1]
        labels_non_noise = labels[labels != -1]

        sc = StandardScaler()
        x_scaled_non_noise = sc.fit_transform(x_non_noise)

        score = silhouette_score(x_scaled_non_noise, labels_non_noise)
        print("Silhouette Score:", round(score, 3))

Evaluating DBSCAN using eps=0.2
Number of clusters: 4
Noise ratio:  0.0
Silhouette Score: 0.497

Evaluating DBSCAN using eps=0.3
Number of clusters: 1
Noise ratio:  0.0

Evaluating DBSCAN using eps=0.5
Number of clusters: 1
Noise ratio:  0.0

In [13]:
df.shape

(1458644, 11)